@using Sonic.VM.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Products</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <ul class="form-inline">
            @foreach (Product p in @Model)
            {
            <li>
                @Html.ActionLink(p.ProdName + "  $ " + p.ProdPrice, "Order",new { prodId = p.ProdId})
            </li>
            }
        </ul>
    </div>
  
</div>