@using Sonic.VM.Web.Models;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Products</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            @foreach (Product p in @Model)
            {
            <li>
                @Html.ActionLink(p.ProdName, "Order",new { ProdId = p.ProdId}) 
            </li>
            }
        </ul>
    </div>
  
</div>