@using Sonic.VM.Entities;
@model IEnumerable<PaymentType>
@{
    ViewBag.Title = "Make Payment";
    Product product = ViewData["SelectedProduct"] as Product;
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12" >
        @if (Model != null)
        {
            <div class="btn-group" role="group" aria-label="...">
                @foreach (PaymentType p in @Model)
                {
                    @Html.ActionLink(p.PaymtType, "PlaceOrder", new { id = p.PaymtId, prodId = product.ProdId }, new { @class = "btn btn-default active" })
                }
            </div>
        }
        else
        {
            @ViewBag.InvalidProductMessage
        }
    </div>
</div>